[Unit]
Description=FastPay Backend API Service
After=network.target

[Service]
# Change this to the user you want to run the application as
User=root
# Change this to the directory where you cloned the repo
WorkingDirectory=/root/fastpay_be
# Ensure the path to uvicorn is correct (inside the venv)
ExecStart=/root/fastpay_be/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target